*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html {
    background-color: $color-black;
  font-size: calc(100vw / 1440 * 10);
  line-height: 1;
  overflow: hidden;
  position: fixed;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}